@import "tailwindcss";

:root {
  background-color: var(--color-SMcream);
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font variables */
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* TAILWIND V4 CUSTOM THEME */
@theme{
  /* CUSTOM COLORS */
  --color-SMcream: #FBFFF1;
  --color-SMmint: #CEE5D5;
  --color-SMaqua: #A9D3C5;
  --color-SMteal: #307B8E;
  --color-SMnavy: #113A58;
  --color-SMgreenAlert: #376B2B;
  --color-SMredAlert: #AC3B3D;
  --color-SMtsel: #E05E70;
  --color-SMxl: #8DB9F5;
  --color-SMisat: #FFC766;
  --color-SMbarblue: #6fa3b0;
  --color-SMbargreen: #73986b;  

  /* CUSTOM FONTS */
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);

}

body {
  margin: 0;
  padding: 0;
}

